.contact__form{

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact__container{

    width: 30rem;
    height: 40rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 5px;


    --bg: rgb(236, 233, 229);
}

.contact__header{

    text-align: center;
    margin-bottom: 2rem;
}

.contact__header h2{

    font-size: 1.5rem;
    font-family: var(--main-font-poppins345);
}
.contact__header p{

    font-size: 1rem;
    font-family: var(--main-font-poppins345);

}

.contact__container input{

    width: 100%;
    height: 4rem;
    border-radius: 2px;
    border: 1px solid var(--main-color);
    margin-bottom: 1rem;
    padding: 0 1rem;

    
}

.contact__container input:focus{

    outline: none;
}

.contact__container label{
    margin-bottom: 0.1em;
} 

textarea{

    width: 100%;
    height: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    resize: none;
    border: 1px solid var(--main-color);

}

textarea:focus{

    outline: none;

}

::placeholder{

    font-family: var(--main-font-poppins345);
    font-weight: 300;
    font-size: 0.7rem;
}

.submit__btn{

    margin: 2rem auto;
} 



.submit__btn button{

    border: 2px solid var(--main-color);
    padding: 2px;
    width: 10rem;
    height: 3rem;
    font-size: 0.8rem;
    font-family: var(--main-font-poppins345);
    font-weight: 400;
    color: var(--text-color);
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: ease-in 0.2s;
    box-shadow: inset 0 0 0 var(--main-color);
} 

.submit__btn button:hover{

    box-shadow: inset 10rem 0 0 var(--main-color);
} 

@media screen and (max-width: 995px){

    
    .contact__container span{

        font-size: 0.8rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

