
.menu {

    display: flex;
    width: 20rem;
    justify-content: space-between;
   

}

.menu a{

    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font-poppins345);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: ease-in 0.1s;

}

.menu a::after{

    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--main-color);
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;

}

.renderMenu a{

    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font-poppins345);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: ease-in 0.1s;
}

.renderMenu a::after{

    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--main-color);
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;

}

.menu a:hover::after{

    transform: scale(1, 1);
}



/* header styles */

nav {

    height: 5rem;
    width: 100%;
    padding: 0 2rem 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

button{

    background: none;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

.on {

    width: 2rem;
    height: 2rem;
}

.off{

    width: 1.8rem;
    height: 1.8rem;

}


.hamburger {
    display: none;
    color: var(--main-color);
    background: none;
    border: none;
    font-size: 1.5rem;
}

@media screen and (max-width: 995px){

    nav{
        padding-left: 2rem;
    }

    button{
        z-index: 2;
    }

    .hamburger {

        z-index: 2;
        display: flex;

    }

    .menu{

        display: none;
    }

    .renderMenu{

        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        padding-top: 10rem;
        font-size: 2rem;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: var(--darkbackground);

    }
}