
.projects{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    text-align: center;

    position: static;


}

.projects__header{

    width: 100%;
    text-align: start;
}

.projects__header, .projects__header h2{

    margin-bottom: 2rem;

}

.projects__container{
    
    width: 50rem;
    padding: 2rem;
    
}

.projects__items{

    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

.items{

    border-radius: 10px; 
    height: 18rem;
    width: 23rem;
    overflow: hidden;

}

@media screen and (max-width: 900px){
    
    .projects{

        height: 100%;
    }   
    .projects__header {
        text-align: start;
    }

    .projects__container{
    
        width: 100%;
    }

    .projects__items{
        display: grid;
        grid-template-columns: 1fr; 
        padding: 0;
    }

    .items{

        height: 20rem;
        width: 100%;
    }
}

.container__item{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.item__header{

    padding: 1rem 1rem 0 1rem;
}

.item__header > *{
    
    padding-bottom: 1.5rem;

}
.item__header h2, .item__header p{

    text-align: start;
    font-size: 0.8rem;
}


.item__header h2{

    text-align: start;
    font-size: 2rem;
}

.lang__used{

    color: var(--main-color);
}

.lang__sepator{

    color: var(--text-color);
}

.item__btn{
    width: 100%;
    height: 3rem;
    gap: 1px;
    display: flex;
}

.item__btn button{

    border: none;
    cursor: pointer;
    width: 15rem;
    background: transparent;
    transition: ease-in 0.2s;
}

.item__btn button a{

    font-family: var(--main-font-poppins345);
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.item__btn button a:hover{

    color: var(--main-color);
}

@media screen and (max-width: 279px) {
    

    .item__header h2, .item__header p{

        font-size: 0.7rem;
    }
    
    
    .item__header h2{
    
        text-align: start;
        font-size: 1.5rem;
    }
}

.projects__footer {

    display: block;
    margin-top: 2rem;
}

.projects__footer__github {

    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font-poppins345);
    font-weight: 500;
    border-bottom: 2px solid var(--main-color);
}

.projects__footer__github:hover {

    color: var(--main-color);
}