@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root{
    --main-font-poppins345: 'Poppins', sans-serif;
    --main-color: hsla(32, 100%, 45%, 1);
    --text-color: hsla(0, 0%, 0%, 0.9);
    --DefaultColor: hsla(173, 96%, 100%, 0.9);

    --menu-color: hsla(32, 100%, 75%, 1);
    --items-color: rgba(223, 220, 220, 0.52);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    
    background-attachment: fixed;
    color: var(--text-color);
    min-height: 100vh;
    font-family: var(--main-font-poppins345);
    overflow-x: hidden;
    transition: all 0.4s ease-in-out;

    position: relative;
}

body::after{

    content: '';
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);    
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.5rem;
    z-index: 1;

}

body::before{

    content: '';
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);    
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    z-index: 1;


}


/*dark mode */

body.darkmode{

    background: #22272e;
    
    --items-color: #22272e;
    --text-color: hsla(0, 0%, 99%, 0.9);
    --menu-color: hsla(32, 100%, 45%, 1);

}



/*=====================================*/

.home__introduction{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 700px;
    gap: 1rem;
    padding: 0 5rem;
}

.home__inside__container{
    width: 35rem;
}

.home__inside__container > *{
    
    margin-bottom: 2rem;
}

h1{
    font-size: 3rem;
}

h2 {

    font-size: 2rem;
}

p {

    text-align: center start;
    font-size: 1rem;
}

.name{

    color: var(--main-color);
    font-size: 2rem;
    transition: ease-in 0.1s;
    cursor: pointer;
    position: relative;
}

.name::after{

    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--main-color);

    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;

}

.name:hover::after{

    transform: scale(1, 1);
}

.icons__yow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
}

.icons__yow a{

    color: var(--text-color);
    font-size: 1.8em;
    padding: 0;
    text-align: start;
}

.icons__yow a:hover,
.icons__yow a:focus
{
    border-bottom: unset;
    color: var(--main-color);
}

/* .image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 700px;
}

.image__container img{

    margin-top: -15rem;
    width: 75%;
    height: 40rem;
    transition: width ease-in 0.3s;
} */



@media screen and (max-width: 995px){

    
    .home__introduction{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;

    }

    .home__inside__container{

        text-align: start;
        width: 100%;
    }

    p{

        font-size: 1rem;
    }
    
    .seperator{
        width: 70%;
    }

    
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--items-color);
}


/* webkit for scrolls chrome */
html{
    scrollbar-width: thin;
    scrollbar-color: hsla(32, 100%, 45%, 1) rgba(173, 172, 172, 0.52);
}

html::-webkit-scrollbar{

    width: 0.6vw;
}

html::-webkit-scrollbar-track{

    background: rgba(173, 172, 172, 0.52);
    border-radius: 8px;
    margin-block: 0.5rem;
}

html::-webkit-scrollbar-thumb{ 

    border-radius: 8px;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); 
    
}